<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de navegación</title>

</head>
<style>
    .barra{
        margin: 0;
        padding: 0;

        list-style: none;
        text-transform: uppercase;

    }

    .barra li{
        display:inline-flex;
        margin: 0 20px;
        flex-direction:column;
    }

</style>


<body>
    <ul class="barra">
        <li>Home</li>
        <li>fechas</li>
        <li>saludo</li> 
        <li>saludo2</li>
        <li>saludo3</li>
        <li>saludo4</li>
        <li>saludo5</li>
        <li>saludo6</li>
        <li>saludo7</li>

    </ul>
</body>
</html>