<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'gestionPedidos/css/styles.css' %}" rel="stylesheet"/>
        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>

<nav class="common-nav"> 
    <h1>
           <a class="titulo_lnk" >Bienvenido, <a href="">Iniciar Sesión </a> </a>
   </h1>
</nav>

<body>    
   <aside class="sidebar">
    <h1>Sites:</h1>
    <h3><a href="clientes/">Clientes</a></h3></li>
    <h3><a href="articulos/">Productos</a></h3></li>
    <h3><a href="pedidos/">Pedidos</a></h3></li>
    <h3><a href="contacto/">Contacto</a></h3></li>
    <h3><a href="buscarProductos/">buscador de Productos</a></h3></li>
</aside>
</body>
</html>